.root{
  scroll-behavior: smooth !important;
}
/* NEW */

nav {
	/* padding: 50px 0; */
	/* background-color: #c4c4c4; */
  border-bottom: 4px solid #888; 
  padding: 0 40px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #FFF;
  z-index: 10000;
  /* background-color: #f0f8ff; Light blue */

}

.nav_upper{
  display: flex;
  flex-direction: row;
}
.nav_upper > * {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav_upper_contact {
  /* width: 100%; */
}


.nav_upper_contact ul{
  float: right;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 25px;

}

.nav_upper_link{
  text-decoration: none;
  color: #000000;
  font-size: 12px;
}
.nav_upper_contact ul li:nth-child(1) .nav_upper_link svg {
  color: green;
}
.nav_upper_contact ul li:nth-child(2) .nav_upper_link  svg {
  color: palevioletred;
}
.nav_upper_contact ul li:nth-child(3) .nav_upper_link  svg {
  color: blue;
}
.nav_upper_contact ul li:nth-child(4) .nav_upper_link  svg {
  color: royalblue;
}
.nav_upper_contact ul li:nth-child(5) .nav_upper_link  svg {
  color: red;
}


.nav_under{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  margin-top: 10px;
  /* background-color: #f0f8ff; Light blue */
}

.nav_under ul {
  padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
  transition: all 0.25s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
	}
	
.nav_under ul li {
	display:inline-block;
  background-color: #f0f8ff; /* Light blue */

  transition: all 0.25s ease;

	}

.nav_under_ul a {
	display:block;
	padding:0 10px;	
  background-color: #ffffff; 
  color: #000000; 
	font-size: 16px;
	line-height: 60px;
	text-decoration:none;
  transition: all 0.25s ease;
}
.nav_under_ul_a{
  line-height: 40px !important;
  padding: 10px;  
}

.nav_under a:hover { 
	background-color: #F5f5f5f5; 
}

/* Hide Dropdowns by Default */
.nav_under ul ul {
	display: none;
	position: absolute; 
	top: 40px; /* the height of the main nav_under_ul */
  z-index: 1000;
  border-bottom: 1px solid #888;
}
	
/* Display Dropdowns on Hover */
.nav_under ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
.nav_under ul ul li {
	min-width:170px;
  max-width:250px;
	float:none;
  font-size: 14px;
	display:list-item;
	position: relative;
  z-index: 1000;
  line-height: 5px;  
  /* border-bottom: 1px solid #888; */

}
.nav_under ul ul li a {
  font-size: 14px;

}

/* Second, Third and more Tiers	*/
.nav_under ul ul ul li {
	position: relative;
	top:-60px; 
	left:250px;
  line-height: 10px;
  /* height: 60px; */
}


/* Resposive design */
.nav_toggle{
  display: none;
}

/* PC & Laptop */
@media screen and (max-width: 1400px) {
  /* .nav_upper */
  .nav_upper_logoBox img {
    width: 400px;
  }
  .nav_upper_contact {
    font-size: 14px;
  }
  .nav_upper_contact ul li a {
    text-decoration: none;
    color: #000000 ;
    text-decoration: none;
  }
  .nav_under_ul a {
    font-size: 13px;
  }


}



/* Tablet */
@media screen and (max-width: 1024px) {
  .nav_under ul{
    display: none;
  }
  .nav_under.open{
    height: 95vh;
  }
  .nav_under.open .nav_under_ul{
    display: flex;
    align-items: flex-start;
    height: 70%;
    justify-content: flex-start;
  }
  .nav_toggle{
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
  }
  .nav_under_ul{
    /* display: flex; */
    flex-direction: column !important;

  }
  
}

/* Phone */
@media screen and (max-width: 768px) {
  .nav_upper_logoBox img {
      width: 250px;
  }
  .nav_upper_contact{
    display: none;
  }
}


	
/* Change this in order to change the Dropdown symbol */
/* li > a:after { content:  '&#8594'; } */
/* li > a:only-child:after { content: ''; } */